body {
    font-family: Arial;
    margin: 10px;
    background-color: #ddd;
}

table {
    border-collapse: collapse;
    margin: 10px 0;
}

th, td {
    border: 3px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #ccc;
}

button {
    padding: 8px 10px;
    margin: 3px;
    font-size: 12px;
    border: 2px solid #666;
    background-color: #eee;
}

.media-linha {
    background-color: yellow;
    font-weight: bold;
}

.media-coluna {
    background-color: orange;
    font-weight: bold;
}
