.dados_pessoa {
    font-weight: bold;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

input {
    padding: 5px;
    font-size: 14px;
}

.radio-group {
    display: flex;
    gap: 15px;
}

.radio-option {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin: auto auto auto auto;
}

.botoes {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}